*{
    margin: 0;
    padding: 0;
    }
    header{
        height: 120px;
        background-color: rgb(116, 20, 68);
    }
    h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 48px;
        padding-top: 25px;
        text-align: center;
        color: antiquewhite;
    }
    header nav a{
        display:inline-block;
        align-items: start;
        text-align: right;
        margin-left: 10px;
        padding-right: 30px;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: aliceblue;

    }
    a:hover{
        color: rgb(229, 245, 7);
    }